
body{

 background-image: linear-gradient(red,orange,yellow);

}

.text-red{

    color: indigo;
    font-size: 54px ;
}

h2{

    color: purple;
    font-size: 65px;
}

 .bull-image{
     width: 900px;
 }
     
.list-image{
    width: 600px;

}

.price-image{
    width: 600px;

}

.makeup-company{
    background-image: linear-gradient(purple, violet);
}

